infra/image/deps/
infra/opencv-build/

# Jupyter
.ipynb_checkpoints/
.virtual_documents/

# Dev tools
.ruff_cache
.mypy_cache

# Course sources
src/fundamentals-of-cv-and-ip-in-python/*/course

# Python
__pycache__
