## Development dependencies
# Instead, custom build with CUDA is installed from manually built wheel
# opencv == 4.9.0
statsmodels == 0.14.1
pandas == 2.2.2
numpy == 1.26.4
matplotlib == 3.8.4
scipy ==  1.13.0
scikit-learn == 1.4.2
seaborn == 0.13.2

## Additional CUDA dependencies that have not been installed by tensorflow CUDA
nvidia::libnpp == 11.8.0.86

## Dev tools
jupyterlab-fonts == 3.0.0
jupytext == 1.16.1
jupyterlab_vim == 4.1.3
jupyterlab-lsp == 5.1.0
python-lsp-server == 1.11.0
pylsp-mypy == 0.6.8
python-lsp-ruff == 2.2.0
rope == 1.13.0
mypy == 1.10.0
ruff == 0.4.3
