## Development dependencies
# Instead, custom build with CUDA is installed from manually built wheel
# opencv == 4.9.0
statsmodels == 0.14.1
pandas == 2.2.2
numpy == 1.26.4
matplotlib == 3.8.4
scipy ==  1.13.0
scikit-learn == 1.4.2

## Additional CUDA dependencies that have not been installed by tensorflow CUDA
nvidia::libnpp == 11.8.0.86
